<div class="page-header">
  <h1>
    Leaders
    <a href="/leaders/new" class="btn btn-lg btn-success">New Leader</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Group</th>
        <th>Actions</th>
      </tr>

      <% @leaders.each do |leader| %>
      <tr>
        <td>
          <% if leader.user.present? %>
            <a href="/users/<%= leader.user.id %>">
              <%= leader.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if leader.group.present? %>
            <a href="/groups/<%= leader.group.id %>">
              <%= leader.group.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/leaders/<%= leader.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == leader.user %>
            <a href="/leaders/<%= leader.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_leader/<%= leader.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @leaders, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
