<div class="page-header">
  <h3>Leader #<%= @leader.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @leader.user_id %></dd>

      <dt>Group</dt>
      <dd><%= @leader.group_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leaders" class="btn btn-primary">
        Back
      </a>
      <a href="/leaders/<%= @leader.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_leader/<%= @leader.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
