<div class="page-header">
  <h3>Leader #<%= @leader.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @leader.user.present? %>
          <a href="/users/<%= @leader.user_id %>">
            <%= @leader.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Group</dt>
      <dd>
        <% if @leader.group.present? %>
          <a href="/groups/<%= @leader.group_id %>">
            <%= @leader.group.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leaders" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @leader.user %>
        <a href="/leaders/<%= @leader.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_leader/<%= @leader.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
