<div class="page-header">
  <h3>Bank #<%= @bank.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @bank.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/banks" class="btn btn-primary">
        Back
      </a>
      <a href="/banks/<%= @bank.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bank/<%= @bank.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bank has many payment_methods -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Payment Methods
      </li>

      <% @bank.payment_methods.each do |payment_method| %>
        <li class="list-group-item">
          <a href="/payment_methods/<%= payment_method.id %>">
            <%= payment_method.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/payment_methods/<%= payment_method.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/payment_methods/<%= payment_method.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_payment_method/<%= payment_method.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_payment_method" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for account_number -->
      <div class="form-group">
        <label for="account_number" class="control-label">
          Account number
        </label>

        <input type="text" id="account_number" name="account_number" placeholder="Account number" class="form-control" value="">
      </div>

      <!-- Label and input for bank_id -->
      <input type="hidden" name="bank_id" value="<%= @bank.id %>">

      <button class="btn btn-block btn-success">
        Create Payment Method
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bank has many disbursement_options -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Disbursement Options
      </li>

      <% @bank.disbursement_options.each do |disbursement_option| %>
        <li class="list-group-item">
          <a href="/disbursement_options/<%= disbursement_option.id %>">
            <%= disbursement_option.bank_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/disbursement_options/<%= disbursement_option.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/disbursement_options/<%= disbursement_option.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_disbursement_option/<%= disbursement_option.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_disbursement_option" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bank_id -->
      <input type="hidden" name="bank_id" value="<%= @bank.id %>">

      <!-- Label and input for account_number -->
      <div class="form-group">
        <label for="account_number" class="control-label">
          Account number
        </label>

        <input type="text" id="account_number" name="account_number" placeholder="Account number" class="form-control" value="">
      </div>

      <!-- Label and input for beneficiary_id -->
      <input type="hidden" name="beneficiary_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Disbursement Option
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
