<div class="page-header">
  <h3>Group #<%= @group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @group.name %></dd>

      <dt>Community</dt>
      <dd><%= @group.community_id %></dd>

      <dt>Preferredp mt method</dt>
      <dd><%= @group.preferredp_mt_method_id %></dd>

      <dt>Comments</dt>
      <dd><%= @group.comments %></dd>

      <dt>Begining date</dt>
      <dd><%= @group.begining_date %></dd>

      <dt>End date</dt>
      <dd><%= @group.end_date %></dd>

      <dt>Weekly pmt</dt>
      <dd><%= @group.weekly_pmt %></dd>

      <dt>Total principal</dt>
      <dd><%= @group.total_principal %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/groups" class="btn btn-primary">
        Back
      </a>
      <a href="/groups/<%= @group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group/<%= @group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Group has many credits -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Credits
      </li>

      <% @group.credits.each do |credit| %>
        <li class="list-group-item">
          <a href="/credits/<%= credit.id %>">
            <%= credit.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/credits/<%= credit.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/credits/<%= credit.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_credit/<%= credit.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many payment_confirmations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Payment Confirmations
      </li>

      <% @group.payment_confirmations.each do |payment_confirmation| %>
        <li class="list-group-item">
          <a href="/payment_confirmations/<%= payment_confirmation.id %>">
            <%= payment_confirmation.group_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/payment_confirmations/<%= payment_confirmation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/payment_confirmations/<%= payment_confirmation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_payment_confirmation/<%= payment_confirmation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many group_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Group Comments
      </li>

      <% @group.group_comments.each do |group_comment| %>
        <li class="list-group-item">
          <a href="/group_comments/<%= group_comment.id %>">
            <%= group_comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/group_comments/<%= group_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/group_comments/<%= group_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_group_comment/<%= group_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many leaders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Leaders
      </li>

      <% @group.leaders.each do |leader| %>
        <li class="list-group-item">
          <a href="/leaders/<%= leader.id %>">
            <%= leader.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/leaders/<%= leader.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/leaders/<%= leader.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_leader/<%= leader.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many creditors -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Creditors
      </li>

      <% @group.creditors.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many commenters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commenters
      </li>

      <% @group.commenters.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many group_leaders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Group Leaders
      </li>

      <% @group.group_leaders.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
