<div class="page-header">
  <h3>Group #<%= @group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @group.name %></dd>

      <dt>Community</dt>
      <dd><%= @group.community_id %></dd>

      <dt>Preferredp mt method</dt>
      <dd><%= @group.preferredp_mt_method_id %></dd>

      <dt>Comments</dt>
      <dd><%= @group.comments %></dd>

      <dt>Begining date</dt>
      <dd><%= @group.begining_date %></dd>

      <dt>End date</dt>
      <dd><%= @group.end_date %></dd>

      <dt>Weekly pmt</dt>
      <dd><%= @group.weekly_pmt %></dd>

      <dt>Total principal</dt>
      <dd><%= @group.total_principal %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/groups" class="btn btn-primary">
        Back
      </a>
      <a href="/groups/<%= @group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group/<%= @group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Group has many credits -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Credits
      </li>

      <% @group.credits.each do |credit| %>
        <li class="list-group-item">
          <a href="/credits/<%= credit.id %>">
            <%= credit.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/credits/<%= credit.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/credits/<%= credit.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_credit/<%= credit.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_credit" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <!-- Label and input for group_id -->
      <input type="hidden" name="group_id" value="<%= @group.id %>">

      <!-- Label and input for pricing -->
      <div class="form-group">
        <label for="pricing" class="control-label">
          Pricing
        </label>

        <input type="text" id="pricing" name="pricing" placeholder="Pricing" class="form-control" value="">
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <input type="text" id="comments" name="comments" placeholder="Comments" class="form-control" value="">
      </div>

      <!-- Label and input for weekly_payment -->
      <div class="form-group">
        <label for="weekly_payment" class="control-label">
          Weekly payment
        </label>

        <input type="text" id="weekly_payment" name="weekly_payment" placeholder="Weekly payment" class="form-control" value="">
      </div>

      <!-- Label and input for status -->
      <div class="checkbox">
        <label for="status">
          <input type="checkbox" id="status" name="status" value="1" <%= "checked" if @credit.status %>>
          Status
        </label>
      </div>

      <!-- Label and input for disbursement_confirmation -->
      <div class="form-group">
        <label for="disbursement_confirmation" class="control-label">
          Disbursement confirmation
        </label>

        <input type="text" id="disbursement_confirmation" name="disbursement_confirmation" placeholder="Disbursement confirmation" class="form-control" value="">
      </div>

      <!-- Label and input for disbursement_confirmation_image -->
      <div class="form-group">
        <label for="disbursement_confirmation_image" class="control-label">
          Disbursement confirmation image
        </label>

        <input type="file" id="disbursement_confirmation_image" name="disbursement_confirmation_image" class="form-control">
      </div>

      <!-- Label and input for disbursement_option_id -->
      <div class="form-group">
        <label for="disbursement_option_id" class="control-label">
          Disbursement option
        </label>

        <%= select_tag(:disbursement_option_id, options_from_collection_for_select(DisbursementOption.all, :id, :bank_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Credit
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Group has many payment_confirmations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Payment Confirmations
      </li>

      <% @group.payment_confirmations.each do |payment_confirmation| %>
        <li class="list-group-item">
          <a href="/payment_confirmations/<%= payment_confirmation.id %>">
            <%= payment_confirmation.group_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/payment_confirmations/<%= payment_confirmation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/payment_confirmations/<%= payment_confirmation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_payment_confirmation/<%= payment_confirmation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_payment_confirmation" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for group_id -->
      <input type="hidden" name="group_id" value="<%= @group.id %>">

      <!-- Label and input for date_posted -->
      <div class="form-group">
        <label for="date_posted" class="control-label">
          Date posted
        </label>

        <input type="text" id="date_posted" name="date_posted" placeholder="Date posted" class="form-control" value="">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <!-- Label and input for payment_method_id -->
      <div class="form-group">
        <label for="payment_method_id" class="control-label">
          Payment method
        </label>

        <%= select_tag(:payment_method_id, options_from_collection_for_select(PaymentMethod.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Payment Confirmation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Group has many group_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Group Comments
      </li>

      <% @group.group_comments.each do |group_comment| %>
        <li class="list-group-item">
          <a href="/group_comments/<%= group_comment.id %>">
            <%= group_comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/group_comments/<%= group_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/group_comments/<%= group_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_group_comment/<%= group_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_group_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for group_id -->
      <input type="hidden" name="group_id" value="<%= @group.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Group Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Group has many leaders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Leaders
      </li>

      <% @group.leaders.each do |leader| %>
        <li class="list-group-item">
          <a href="/leaders/<%= leader.id %>">
            <%= leader.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/leaders/<%= leader.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/leaders/<%= leader.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_leader/<%= leader.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_leader" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for group_id -->
      <input type="hidden" name="group_id" value="<%= @group.id %>">

      <button class="btn btn-block btn-success">
        Create Leader
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Group has many creditors -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Creditors
      </li>

      <% @group.creditors.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many commenters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commenters
      </li>

      <% @group.commenters.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Group has many group_leaders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Group Leaders
      </li>

      <% @group.group_leaders.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
