<!-- Validation failure messages -->
<% if @disbursement_option.errors.any? %>
  <% @disbursement_option.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Disbursement Option</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_disbursement_option" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bank_id -->
      <div class="form-group">
        <label for="bank_id" class="control-label">
          Bank
        </label>

        <%= select_tag(:bank_id, options_from_collection_for_select(Bank.all, :id, :name, @disbursement_option.bank_id), :class => "form-control") %>
      </div>

      <!-- Label and input for account_number -->
      <div class="form-group">
        <label for="account_number" class="control-label">
          Account number
        </label>

        <input type="text" id="account_number" name="account_number" placeholder="Account number" class="form-control" value="<%= @disbursement_option.account_number %>">
      </div>

      <!-- Label and input for beneficiary_id -->
      <input type="hidden" name="beneficiary_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Disbursement Option
      </button>
      or
      <a href="/disbursement_options">Cancel</a>
    </form>
  </div>
</div>
