<div class="page-header">
  <h3>Disbursement Option #<%= @disbursement_option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bank</dt>
      <dd><%= @disbursement_option.bank_id %></dd>

      <dt>Account number</dt>
      <dd><%= @disbursement_option.account_number %></dd>

      <dt>Beneficiary</dt>
      <dd><%= @disbursement_option.beneficiary_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/disbursement_options" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @disbursement_option.beneficiary %>
        <a href="/disbursement_options/<%= @disbursement_option.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_disbursement_option/<%= @disbursement_option.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Disbursement option has many credits -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Credits
      </li>

      <% @disbursement_option.credits.each do |credit| %>
        <li class="list-group-item">
          <a href="/credits/<%= credit.id %>">
            <%= credit.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/credits/<%= credit.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/credits/<%= credit.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_credit/<%= credit.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_credit" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <!-- Label and input for group_id -->
      <div class="form-group">
        <label for="group_id" class="control-label">
          Group
        </label>

        <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for pricing -->
      <div class="form-group">
        <label for="pricing" class="control-label">
          Pricing
        </label>

        <input type="text" id="pricing" name="pricing" placeholder="Pricing" class="form-control" value="">
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <input type="text" id="comments" name="comments" placeholder="Comments" class="form-control" value="">
      </div>

      <!-- Label and input for weekly_payment -->
      <div class="form-group">
        <label for="weekly_payment" class="control-label">
          Weekly payment
        </label>

        <input type="text" id="weekly_payment" name="weekly_payment" placeholder="Weekly payment" class="form-control" value="">
      </div>

      <!-- Label and input for status -->
      <div class="checkbox">
        <label for="status">
          <input type="checkbox" id="status" name="status" value="1" <%= "checked" if @credit.status %>>
          Status
        </label>
      </div>

      <!-- Label and input for disbursement_confirmation -->
      <div class="form-group">
        <label for="disbursement_confirmation" class="control-label">
          Disbursement confirmation
        </label>

        <input type="text" id="disbursement_confirmation" name="disbursement_confirmation" placeholder="Disbursement confirmation" class="form-control" value="">
      </div>

      <!-- Label and input for disbursement_confirmation_image -->
      <div class="form-group">
        <label for="disbursement_confirmation_image" class="control-label">
          Disbursement confirmation image
        </label>

        <input type="file" id="disbursement_confirmation_image" name="disbursement_confirmation_image" class="form-control">
      </div>

      <!-- Label and input for disbursement_option_id -->
      <div class="form-group">
        <label for="disbursement_option_id" class="control-label">
          Disbursement option
        </label>

        <%= select_tag(:disbursement_option_id, options_from_collection_for_select(DisbursementOption.all, :id, :bank_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Credit
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
