<div class="page-header">
  <h1>
    Credits
    <a href="/credits/new" class="btn btn-lg btn-success">New Credit</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "credits_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :disbursement_confirmation_cont, "Disbursement confirmation contains" %>
    <%= f.text_field :disbursement_confirmation_cont, :class => "form-control", :placeholder => "Disbursement confirmation contains" %>
  </div>

<div class="form-group">
    <%= f.label :status_eq, "Status" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :status_eq, "1", checked: ((params[:q] && params[:q][:status_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :status_eq, "0", checked: ((params[:q] && params[:q][:status_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :status_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
    <%= f.label :weekly_payment_cont, "Weekly payment contains" %>
    <%= f.text_field :weekly_payment_cont, :class => "form-control", :placeholder => "Weekly payment contains" %>
  </div>

<div class="form-group">
    <%= f.label :comments_cont, "Comments contains" %>
    <%= f.text_field :comments_cont, :class => "form-control", :placeholder => "Comments contains" %>
  </div>

<div class="form-group">
  <%= f.label :pricing, "Pricing" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :pricing_gteq, :class => "form-control", :placeholder => "Pricing greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :pricing_lteq, :class => "form-control", :placeholder => "Pricing less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :amount, "Amount" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :amount_gteq, :class => "form-control", :placeholder => "Amount greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :amount_lteq, :class => "form-control", :placeholder => "Amount less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :group_name_cont, "Group name contains" %>
      <%= f.text_field :group_name_cont, :class => "form-control", :placeholder => "Group name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/credits" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#credits_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Amount</th>
        <th>Group</th>
        <th>Pricing</th>
        <th>Comments</th>
        <th>Weekly payment</th>
        <th>Status</th>
        <th>Disbursement confirmation</th>
        <th>Disbursement confirmation image</th>
        <th>Disbursement option</th>
        <th>Actions</th>
      </tr>

      <% @credits.each do |credit| %>
      <tr>
        <td>
          <% if credit.user.present? %>
            <a href="/users/<%= credit.user.id %>">
              <%= credit.user.email %>
            </a>
          <% end %>
        </td>
        <td><%= credit.amount %></td>
        <td>
          <% if credit.group.present? %>
            <a href="/groups/<%= credit.group.id %>">
              <%= credit.group.name %>
            </a>
          <% end %>
        </td>
        <td><%= credit.pricing %></td>
        <td><%= credit.comments %></td>
        <td><%= credit.weekly_payment %></td>
        <td><%= credit.status %></td>
        <td><%= credit.disbursement_confirmation %></td>
        <td><img src='<%= credit.disbursement_confirmation_image %>' class='img-responsive'></td>
        <td>
          <% if credit.disbursement_option.present? %>
            <a href="/disbursement_options/<%= credit.disbursement_option.id %>">
              <%= credit.disbursement_option.bank_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/credits/<%= credit.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == credit.user %>
            <a href="/credits/<%= credit.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_credit/<%= credit.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @credits, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
