<div class="page-header">
  <h3>Credit #<%= @credit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @credit.user.present? %>
          <a href="/users/<%= @credit.user_id %>">
            <%= @credit.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Amount</dt>
      <dd><%= @credit.amount %></dd>

      <dt>Group</dt>
      <dd>
        <% if @credit.group.present? %>
          <a href="/groups/<%= @credit.group_id %>">
            <%= @credit.group.name %>
          </a>
        <% end %>
      </dd>

      <dt>Pricing</dt>
      <dd><%= @credit.pricing %></dd>

      <dt>Comments</dt>
      <dd><%= @credit.comments %></dd>

      <dt>Weekly payment</dt>
      <dd><%= @credit.weekly_payment %></dd>

      <dt>Status</dt>
      <dd><%= @credit.status %></dd>

      <dt>Disbursement confirmation</dt>
      <dd><%= @credit.disbursement_confirmation %></dd>

      <dt>Disbursement confirmation image</dt>
      <dd><img src="<%= @credit.disbursement_confirmation_image %>" class="img-responsive"></dd>

      <dt>Disbursement option</dt>
      <dd>
        <% if @credit.disbursement_option.present? %>
          <a href="/disbursement_options/<%= @credit.disbursement_option_id %>">
            <%= @credit.disbursement_option.bank_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/credits" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @credit.user %>
        <a href="/credits/<%= @credit.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_credit/<%= @credit.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
