<div class="page-header">
  <h3>Personal Message #<%= @personal_message.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd><%= @personal_message.sender_id %></dd>

      <dt>Receiver</dt>
      <dd><%= @personal_message.receiver_id %></dd>

      <dt>Message</dt>
      <dd><%= @personal_message.message %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/personal_messages" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @personal_message.sender %>
        <a href="/personal_messages/<%= @personal_message.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_personal_message/<%= @personal_message.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
