<div class="page-header">
  <h3>Payment Confirmation #<%= @payment_confirmation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Group</dt>
      <dd>
        <% if @payment_confirmation.group.present? %>
          <a href="/groups/<%= @payment_confirmation.group_id %>">
            <%= @payment_confirmation.group.name %>
          </a>
        <% end %>
      </dd>

      <dt>Date posted</dt>
      <dd><%= @payment_confirmation.date_posted %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @payment_confirmation.image %>" class="img-responsive"></dd>

      <dt>Payment method</dt>
      <dd>
        <% if @payment_confirmation.payment_method.present? %>
          <a href="/payment_methods/<%= @payment_confirmation.payment_method_id %>">
            <%= @payment_confirmation.payment_method.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/payment_confirmations" class="btn btn-primary">
        Back
      </a>
      <a href="/payment_confirmations/<%= @payment_confirmation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_payment_confirmation/<%= @payment_confirmation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
