<div class="page-header">
  <h3>Community #<%= @community.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @community.name %></dd>

      <dt>State</dt>
      <dd><%= @community.state_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/communities" class="btn btn-primary">
        Back
      </a>
      <a href="/communities/<%= @community.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_community/<%= @community.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Community has many groups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Groups
      </li>

      <% @community.groups.each do |group| %>
        <li class="list-group-item">
          <a href="/groups/<%= group.id %>">
            <%= group.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/groups/<%= group.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/groups/<%= group.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_group/<%= group.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
